{% extends 'base.html' %}
{% block title_block %} Login {% endblock %}
{% block body_block %}
{% load crispy_forms_tags %}

<div class="mx-auto mt-5 p-4" style="width: 600px; background:#e5e5e5; border-radius:4px;">
  <h2>Login</h2>
  <form method="POST">
    {% csrf_token %}
    {{  form|crispy:"bootstrap4" }}
    <button type="submit" class="btn btn-primary btn-sm">Login</button>
  </form>
  <br>
  <p>Don't have a account <a href="{% url 'App_login:sign_up'%}">Sign Up</a></p>

</div>


{% endblock %}
