<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title_block %} Blogs {%endblock%}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <!-- Navbar Starts  -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="#">PyBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index'%}">Home <span class="sr-only">(current)</span></a>
          </li>'
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'App_login:logout_user'%}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'App_login:login_user'%}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'App_login:sign_up'%}">Sign Up</a>
          </li>
          {% endif %}

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
      </div>

    </div>

  </nav>
  <!-- Navbar Ends -->
  <div class="container">
    {% block body_block %}

    {% endblock %}

  </div>
</body>
</html>
